<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<meta charset="utf-8">
	<head th:include="include :: header"></head>
	<link th:href="@{/css/monitor/bootstrap.css}" rel="stylesheet"/>
  <body>
	<div>  
	  <div class="row">
	  <p id="id" style="display:none" name="id" th:text="${id}" />
	     <div class="col-sm-5 col-md-5 col-lg-5">
	     	 <a href="" target="_blank" id="assetLink" style="display:none">关联资产</a>
	    	 <div id="statusInfo" style="margin-top: 20px"><b>当前状态:离线</b></div>
	       	 <div id="currentInfo"  style="margin-top: 80px"></div>
	     </div>
	     <!-- <div class="col-sm-7 col-md-7 col-lg-7">
	         <div id="todayInfo"  style="margin-top: 120px"></div>
	     </div> -->
	  </div>
	</div> 
	<div th:include="include :: footer"></div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/echarts.min.js}"></script>
	<script th:src="@{/js/monitor/device/GroundBox.js}"></script>
  </body>
</html>
